
.cell-1:hover {
     background:#009973;
    color:white;
    }

.cell-2:hover {
     background:#009973;
    color:white;
    }

.cell-3:hover {
     background:#009973;
    color:white;
    }

.cell-4:hover {
     background:#009973;
    color:white;
    }

.cell-5:hover {
     background:#009973;
    color:white;
    }

.cell-6:hover {
     background:#009973;
    color:white;
    }

.cell-7:hover {
     background:#009973;
    color:white;
    }

.cell-8:hover {
     background:#009973;
    color:white;
    }

.cell-0:hover {
     background:#009973;
    color:white;
    }  

td:hover {cursor:pointer;
     }



